autom4te.cache
config.status
Makefile
.externalToolBuilders
udtgate-*.tar.gz
configure.scan
configure.log
config.log
NEWS.sav
core.*
gmon.out
.libs
*.o
*.a
*.la
*.lo
*.so
*.swp
*~
/src/relay/udtrelay
autom4te.cache/
config.log
config.status
.deps/
.libs/
libtool
depcomp
install-sh
missing
config.h
stamp-h1
Makefile
Makefile.in
INSTALL
config.guess
config.sub
compile
config.h.in
configure
aclocal.m4
ltmain.sh
